.container {
  background-color: rgb(6, 17, 33) !important;
  padding: 100px;
  width: 100%;
}

.container h1 {
  padding: 4%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
  color: #40e405c4;
  border-top: 5px groove #5c00c2;
}

.table-responsive  {
  background-color: rgba(4, 23, 51, 0.603) !important;
  width: 100%;
  overflow-x: auto;
}

table {
  font-family: arial, sans-serif;
  background-color: rgba(214, 164, 238, 0.664) !important;
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  width: 100%;
}


.table th {
  background-color: rgba(53, 0, 73, 0.836) !important;
  color: rgba(233, 199, 255, 0.89);
}
.table td{
  background-color: rgba(4, 23, 51, 0.603) !important;
  color: rgb(255, 255, 255);
}

.table td,
th {
  border: 1px solid #360074a6;
  text-align: left;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: rgba(26, 160, 178, 0.466) !important;
}

tr .btn {
  color: white;
  border-bottom: 2px solid #39d8d3;
  margin-left: 20px;
  margin-top: 10px;
}

tr .btn.delete {
  background-color: rgba(42, 1, 98, 0.09);
}

tr .btn.delete:hover {
  background-color: rgba(177, 0, 53, 0.801);
  color: #dda2a2;
  border-bottom: 2px solid #fa1515;
}

tr .btn:hover {
  color: #c5a9f1;
  border-bottom: 2px solid #7e05ff;
  background-color: rgba(34, 0, 78, 0.74);
}

tr td .btn.add {
  display: block;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #334155;
  border-radius: 4px;
  background-color: #1e293b;
  color: white;
}

input,
input:focus {
  background-color: #1e293b !important;
  color: white !important;
  border: 1px solid #334155;
  outline: none;
}

input:focus {
  box-shadow: 0 0 10px rgba(115, 3, 243, 0.897);
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #334155;
  border-radius: 4px;
  background-color: #1e293b;
  color: white;
  font-size: 1rem;
}

textarea:focus {
  background-color: #1e293b !important;
  color: white !important;
  border: 1px solid rgb(124, 13, 250);
}

form {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: rgb(128, 26, 26);
  font-size: 3rem;
}

.button-group button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #4d1d69;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-secondary {
  background-color: #df003869 !important;
}
