footer{
    background-color: #00000090;
    color: whitesmoke;
    width: 100%; 
    padding: 6%;

    box-sizing: border-box;

}
footer a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;

}

