.container {
    background-color: rgb(6, 17, 33);
    padding: 20px;
}
.container h1{
    color: #e0d3f2cf;
    margin: 2%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lead{
  font-family: "Arial Narrow";
  font-size: 2rem;
  color: rgba(169, 169, 169, 0.796);
}
.card {
  flex-direction: column;
  color: rgba(245, 245, 245, 0.692);
  height: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  background: rgba(0, 0, 0, 0.382);
  border-radius: 16px;
  border: 1px solid rgba(34, 6, 161, 0.281); 
  backdrop-filter: blur(5px); 
  box-shadow: 0 0 20px rgba(41, 0, 138, 0.712);
  transition: box-shadow 0.3s ease, color 0.3s ease;

}
.card:hover{
  border: 0.3px solid #5d00c7;
  box-shadow: 4px 4px 50px 0.1px #4600c7;
  transition-delay: 0.2s;
}

.card-body {
  flex-grow: 1;
}

.card img{
    width: 30%;
    height: 30%;
    margin: 0 auto;
}
.card img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    filter: contrast(14);
}
.list-group-item{
  background-color: rgba(4, 0, 12, 0.32);
  color: whitesmoke;
  text-align: start;
  font-size: 16px;
}



.card-link {
  color: rgba(211, 146, 255, 0.705);
  font-weight: bold;
  border-radius: 16px;
  border-bottom: 1px solid rgba(234, 217, 255, 0.6);
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius:6px ;

}
.card-body-buttom{
  display: flex;
  justify-content: center;
  padding: 20px;
  width:  100%;
}

.card-body-buttom  .card-link:hover{
  background-color: rgba(0, 0, 0, 0.562);
  color: #cdb2f0;
  transition-delay: 0.3s;

}

.input-group input{
    background-color: rgb(6, 17, 33);
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #39d8d38a;
    color: whitesmoke;
    font-size: 20px;
    width: 80%;
}
.input-group input::placeholder{
    color: rgba(130, 175, 179, 0.667);
    font-style: italic;
    font-size: 16px;

  }
.input-group input:focus{
    outline: none;
    box-shadow: none;
    background-color: rgb(6, 17, 33);
    color: whitesmoke;

}
.input-group button{
    background-color: rgb(6, 17, 33);
    border: none;
    color: rgba(245, 245, 245, 0.612);
    cursor: pointer;
    border-bottom: 2px solid #39d8d38a;
    width: 10%;
}
.input-group button:hover{
    background-color: #39d8d375;
    color: whitesmoke;
    border-bottom: 2px solid #39d8d3;
    transition: all 0.3s ease-in-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
