<div class="container py-5" [class.fade-in]="mostrarMensaje">
  <div class="jumbotron text-center">
    <h1 class="display-3 display-lg-1 mt-5 mb-3 mb-lg-4">
      The Most Attractive <i class="fw-bold">Cryptocurrencies</i> in 2025
    </h1>
    <p class="lead">These are the most bullish cryptocurrencies of the year!🚀</p>
  </div>
</div>

<div class="container mb-5 ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="input-group input-group-lg" (submit)="onSubmit($event)">
        <input
          type="text"
          class="form-control py-3 fs-4"
          placeholder="Enter the cryptocurrency name or symbol"
          [(ngModel)]="searchCripto"
          name="cryptoSearch"
        />
        <button class="btn btn-primary px-4" type="submit">
          <i class="bi bi-search fs-3"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container py-5 ">
  <div class="row g-4" id="principalCards">
    <div
      class="col-lg-4 col-md-6 col-sm-12"
      *ngFor="let cripto of filteredCriptos">
      <div class="card">
        <img [src]="cripto.img" class="img-fluid" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ cripto.title }}</h5>
          <p class="card-text">{{ cripto.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Initial Price: <strong>{{ cripto.initialPrice }}</strong>
          </li>
          <li class="list-group-item">
            Highest price ever: <strong>{{ cripto.maxPrice }}</strong>
          </li>
        </ul>
        <div class="card-body-buttom">
          <a
            [href]="cripto.link"
            target="_blank"
            class="card-link"
            >View price in real time</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
