<div class="container my-4">
    <form [formGroup]="searchForm" class="input-group input-group-lg">
        <input type="text" formControlName="searchBar" 
               placeholder="Enter the cryptocurrency name or symbol"
               class="form-control py-2 fs-4">
        <button type="submit"> <i class="bi bi-search fs-3"></i></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Symbol</th>
                <th class="price">Current Price</th>
                <th>Name</th>
                <th>Market Cap</th>
            </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let c of paginatedList">
               
                <td>{{c.id}}</td>
                <td>{{c.symbol}}</td>
                <td  class="price-row">{{c.currentPrice}}</td>
                <td>{{c.name}}</td>
                <td>{{c.marketCapitalization}}</td>
                
            
            </tr>
        </tbody>
    </table>

     <nav *ngIf="totalPages > 1" class="mt-4">
    <ul class="pagination justify-content-center">
        
        <li class="page-item " [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)">«</button>
        </li>
        <li class="page-item"
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
        <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)">»</button>
      </li>
    </ul>
  </nav>      

</div>
