.container {
  background-color: rgb(6, 17, 33);
  padding: 100px;
  width: 100%;
}


.container h1{
  padding: 4%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
  color: #bd7ef8b0;
  border-top: 10px groove #2ac200;
}
table {
  font-family: arial, sans-serif;
  background-color: rgba(214, 164, 238, 0.185);
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color:rgba(18, 4, 31, 0.836);
  color: rgba(233, 199, 255, 0.89);
  
}
table-responsive {
  background-color: rgb(6, 17, 33);

  font-family: arial, sans-serif;
  width: 100%;
}

td, th {

  border: 1px solid #470592bb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(26, 160, 178, 0.301);
}

tr .btn{
  color: white;
  border-bottom: 2px solid #39d8d3;
  margin-left: 20px;
  margin-top: 10px;
}
tr .btn.delete{
  background-color: rgba(42, 1, 98, 0.09);
}
tr .btn.delete:hover{
  background-color: rgba(177, 0, 53, 0.801);
  color: #dda2a2;
  border-bottom: 2px solid #fa1515;

}

tr .btn:hover{
  color: #c5a9f1;
  border-bottom: 2px solid #7e05ff;
  background-color: rgba(34, 0, 78, 0.74);
}
tr td .btn.add{
  display: block;
  margin: 0 auto;

}
label{
  font-size: 1.2rem;
  color: #d9e1d6e2;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #334155;
  border-radius: 4px;
  background-color: #1e293b;
  color: white;
}

input,
input:focus {
  background-color: #1e293b !important;
  color: white !important;
  border: 1px solid #334155;
  outline: none;
}
input:focus {
  box-shadow: 0 0 10px rgba(115, 3, 243, 0.897);
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #334155;
  border-radius: 4px;
  background-color: #1e293b;
  color: white;
  font-size: 1rem;
}
textarea:focus {
  background-color: #1e293b !important;
  color: white !important;
  border: 1px solidrgba(115, 3, 243, 0.897);
}

form {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: rgb(128, 26, 26);
  font-size: 3rem;
}

.button-group button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4d1d69;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.btn-secondary {
  background-color: #df00383d !important;

}
