.accordion-collapse {
  display: none;
}

.accordion-collapse.show {
  display: block;
}

.container{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;

}
.container h1{
    color: #f8eefffe;
    margin: 2%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.accordion-button{
    background-color: #640bb284;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    padding: 20px;
}
.accordion-collapse{
    background-color: #ebcffedd;
    color: #34035cfd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    border: none;
    padding-top: 40px;
    padding-bottom: 20px;
}