.container-slider-apps{
  
    justify-content: center;
    width: 100%;
    align-items: center;
    padding:100px 0px; 
    overflow: hidden;
    background-color: #061222;
    margin: auto;
  }
  .container-slider-apps h2{
    color: rgba(245, 245, 245, 0.637);
    padding: 50px 0px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;

  }
  
  .container-slider-apps .carousel-track{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 20s linear infinite;
    -webkit-animation:  scroll 40s linear infinite;
    gap: 3%;
    overflow: hidden;
    
  }
  
  .container-slider-apps .slide{
    width: 100%;
  }
  .container-slider-apps .slide img{
    width: 100%;
    filter: invert(0) brightness(100);

  }
  
  @keyframes scroll{
    0%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 4));
    }
    
  }
  