
<div class="container py-8">
    <div class="row text-center">
      <div class="col-md-4 py-3">
        <div class="card  h-100">
          <img src="assets/icons/icon-portfolio.png" class="card-img-top p-4" alt="My cryptos icon" style="max-height: 150px; object-fit: contain;" routerLink="/portfolio">
          <div class="card-body d-flex flex-column justify-content-end">
            <button class="btn mt-3"><a class="nav-link" routerLink="/portfolio-react" routerLinkActive="active">My Portfolio Template</a></button>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 py-3">
        <div class="card   h-100">
          <img src="assets/icons/icon2-portfolio.png" class="card-img-top p-4" alt="Charts icon" style="max-height: 150px; object-fit: contain;" >
          <div class="card-body d-flex flex-column justify-content-end">
            <button class="btn mt-3"><a class="nav-link" routerLink="/charts" routerLinkActive="active">Charts</a></button>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 py-3">
        <div class="card h-100">
          <img src="assets/icons/icon3-portfolio.png" class="card-img-top p-4" alt="See prices icon" style="max-height: 150px; object-fit: contain;" routerLink="/cripto-prices"> 
          <div class="card-body d-flex flex-column justify-content-end">
            <button class="btn  mt-3"><a class="nav-link" routerLink="/cripto-prices" routerLinkActive="active">See prices</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  